[Desktop Entry]
Encoding=UTF-8
Name=awesome
Comment=awesome the window manager 
Exec=/etc/X11/Sessions/awesome
TryExec=awesome
Icon=
Type=Application
