[Desktop Entry]
	Encoding=UTF-8
	Version=1.0
	Name=QuantZ
	Comment=A 'unique puzzle action game' developed by Gamerizon
	Exec=QuantZ
	Icon=QuantZ
	Type=Application
	Categories=Application;
