[Unit]
DefaultDependencies=no
After=sysinit.target local-fs.target
Before=base.target

[Service]
StandardInput=tty
StandardOutput=null
ExecStart=/usr/bin/omxplayer --no-osd --no-keys -r /usr/share/sabayon/video/splash.mp4
StandardError=null

[Install]
WantedBy=sysinit.target
