[Unit]
Description=Sabayon text installer setup
After=sabayonlive.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/libexec/installer-text.sh

[Install]
WantedBy=multi-user.target
