[Unit]
Description=Sabayon live system setup
Before=display-manager.service getty.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/libexec/sabayonlive.sh

[Install]
WantedBy=multi-user.target
