#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/app-accessibility/brltty/files/brltty.rc,v 1.2 2008/01/05 22:46:50 williamh Exp $

depend() {
	if [ -z $svcdir ]; then
		before *
	fi
	after clock
}

start() {
	ebegin "Starting brltty"
	start-stop-daemon --start --exec /bin/brltty -- -P /var/run/brltty.pid -q
	eend $?
}

stop() {
	ebegin "Stopping brltty"
	start-stop-daemon --stop --pidfile /var/run/brltty.pid
	eend $?
}
