[Unit]
Description=Sabayon Automatic Update
After=network-online.target 

[Service]
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
Type=oneshot
Environment=ACCEPT_LICENSE=*
ExecStart=/bin/bash -c "systemd-inhibit /usr/bin/equo up"
ExecStart=/bin/bash -c "systemd-inhibit /usr/bin/equo u"
ExecStart=/bin/bash -c "systemd-inhibit /usr/bin/equo cleanup"
TimeoutStopSec=180
KillMode=process
KillSignal=SIGINT

[Install]
 WantedBy=multi-user.target
