[Desktop Entry]
Name=KompoZer
Comment=WYSIWYG Web Editor
Exec=kompozer
Icon=kompozer
Terminal=false
Type=Application
Categories=Application;Development;
StartupNotify=true
Encoding=UTF-8
