#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=DavMail Gateway
Comment=Exchange connector
Icon=davmail
Terminal=false
Categories=Office;Email;
Exec=/opt/bin/davmail.sh
