[Unit]
Description=Gnome Display Manager on %I
Requires=dev-%i.device
After=dev-%i.device

[Service]
ExecStart=/usr/bin/gdm -nodaemon
ExecStop=/usr/sbin/gdm-stop

[Install]
Alias=graphical.target.wants/gdm@tty7.service
