[Desktop Entry]
Version=1.0
Type=Application
Name=Adobe AIR SDK application starter
Comment=Start Adobe AIR applications using the SDK
Exec=airstart %f
NoDisplay=true
Terminal=false
Icon=/opt/Adobe/AirSDK/samples/icons/AIRApp_128.png
MimeType=application/vnd.adobe.air-application-installer-package+zip;application/vnd.adobe.apollo-application-installer-package+zip;
