<!DOCTYPE busconfig PUBLIC "-//freedesktop//DTD D-BUS Bus Configuration 1.0//EN" "http://www.freedesktop.org/standards/dbus/1.0/busconfig.dtd">
<busconfig>
	<!-- ../system.conf have denied everything, so we just punch some holes -->
	<policy context="default">
		<allow own="com.Skype.API"/>
		<allow send_destination="com.Skype.API"/>
		<allow receive_sender="com.Skype.API"/>
		<allow send_path="/com/Skype"/>
	</policy>
</busconfig>
