[Unit]
Description=KDM Display Manager
Conflicts=getty@tty7.service
After=systemd-user-sessions.service getty@tty7.service plymouth-quit.service plymouth-quit-wait.service

[Service]
ExecStart=/usr/bin/kdm -nodaemon
Restart=always
IgnoreSIGPIPE=no

[Install]
Alias=display-manager.service
