[Unit]
Description=Starts instance of Kodi using xinit
After=systemd-user-sessions.service network.target sound.target
Conflicts=getty@tty7.service

[Service]
User = kodi
Group = kodi
PAMName=login
TTYPath=/dev/tty7
ExecStart=/usr/bin/startkodi
WatchdogSec=30s
Restart=on-failure
StartLimitInterval=3min
StartLimitBurst=5
StartLimitAction=reboot
StandardInput=tty

[Install]
WantedBy=multi-user.target
