[GdmGreeterTheme]
Greeter=Sabayon40.xml
Name=Sabayon 4.0 Default GDM
Description=Sabayon 4.0 Default GDM v0.3
Author= Ian Whyman <ian.whyman@sabayonlinux.org>
Screenshot=F
Copyright=Sabayon Linux 2008-9
