#!/sbin/runscript
# Copyright 1999-2006 Gentoo Foundation
# Distributed under the terms of the GNU General Public License, v2 or later
# $Header: /var/cvsroot/gentoo-x86/sys-apps/hal/files/0.5-hald.rc,v 1.7 2006/09/04 15:50:02 cardoe Exp $

depend() {
	need dbus
	use logger
	after coldplug dns nscd
}

start() {
	ebegin "Starting Hardware Abstraction Layer daemon"

	if [ -f /proc/acpi/event ]; then
		chgrp haldaemon /proc/acpi/event
		chmod 440 /proc/acpi/event
	fi

	start-stop-daemon --start -q --exec /usr/sbin/hald -- --use-syslog
	eend $?
}

stop() {
	ebegin "Stopping Hardware Abstraction Layer daemon"
	start-stop-daemon --stop -q --pidfile /var/run/hald.pid 
	eend $?
}
