[Unit]
Description=Sabayon Media Center setup
Before=display-manager.service
Wants=polkit.service smbd.service nmbd.service accounts-daemon.service
After=smbd.service nmbd.service polkit.service accounts-daemon.service sabayonlive.service network.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/libexec/sabayon-mce.sh

[Install]
WantedBy=multi-user.target
